<p id="notice"><%= notice %></p>

<h1>Blog</h1>
<% if user_signed_in? %>
<%= link_to new_post_path, :class => 'btn-floating btn-large waves-effect waves-light blue' do %>
  <i class="material-icons">add</i>
    <% end %>
<% end %>

<ul class="collapsible" data-collapsible="accordion">
<% @posts.each do |post| %>
   <li>
    <div class="collapsible-header">
      <i class="mdi-av-my-library-books"></i>
       <h2 class="title"><%= link_to post.title, post%></h2>
        <p class="date"><%= post.created_at.strftime("%b, %d, %Y") %></p>
    </div>
  </li>
<% end %>
</ul>
